body{
    margin:0;
    overflow-x:hidden;
    }
    
    footer{
    width:100%;
    background:#ebfff4b5;
    padding-top:30px;
    font-family: 'Open Sans', sans-serif;
    }
    footer>.d-flex{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    footer .column{
    width:50%;
    display:inline-block;
    vertical-align:top;
    padding:10px;
    justify-content: space-evenly;
    }
    footer>.socialContainer>img{
       height: 50vh;
    }
    footer .column .footer_title{
        font-size: 20px;
    font-weight: 500;
    cursor: default;

    }
    footer .d-flex .column-container{
        
    justify-content: center;
    align-items: center;
    display: flex;

    }
    footer .d-flex .column-container .column a svg{
        color:#1f643d;
    }
    footer .d-flex .column-container .column a svg:hover{
        color:#368859c0;
    }
    footer .column a{
    text-decoration:none;
    display:block;
    color:gray;
    font-size:0.9em;
    padding:5px 0;
    font-weight:400;
    transition:0.5s;
    }
    
    footer .column:not(:first-child) a:hover{
    color:#1f643d;
    }
    
    footer .column:nth-child(4) a:not(:first-child){
    margin:5px;
    display:inline-block
    }
    
   
    
    .sub-footer{
    background:#1f643d;
    width:100%;
    padding:5px 0;
    text-align:center;
    color:white;
    font-size:12px;
    }
    
    @media (max-width:1100px){
    footer .column:nth-child(1) a:nth-child(3),footer .column:nth-child(1) a:nth-child(4),footer .column:nth-child(1) a:nth-child(5){
    width:23px;
    height:23px;
    font-size:1.1em;
    margin:6px;
    }
    footer>.socialContainer>img{
        display:none;
    }
    footer>.socialContainer{
        flex-direction: column;
    }
    footer>.socialContainer>.column-container{
        flex-direction: column;
    }
    }
    
    
    @media (max-width:820px){
    footer>.socialContainer{
        flex-direction: column;
    }
    footer>.socialContainer>img{
       display:none;
    }
    footer>.socialContainer>.column-container{
        flex-direction: column;
    }
    footer .column:nth-child(1){
    width:95%;
    display:block;
    }
    footer .column:not(:first-child){
    width:80%;
    }
    footer .column:nth-child(4),footer .column:nth-child(5){
    width:95%;
    display:block;
    }
    footer .column:nth-child(1) a:nth-child(3),footer .column:nth-child(1) a:nth-child(4),footer .column:nth-child(1) a:nth-child(5){
    width:28px;
    height:28px;
    font-size:1.3em;
    }
    }