.navbar{
    background-color:#1f643d;
    padding:2vh 1vh;
    z-index: 1;
    position: fixed;
    width: 100%;
  }
  .nav-link{
    color:white;
  }
  .navbar-collapse{
    justify-content: flex-end;
  }